.popup__mask__alert.is-visible, .popup--changepass.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.popup__mask__alert, .popup--changepass {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.popup__mask__alert {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity .3s ease;
}

.popup__mask__alert .popup__wrapper__alert {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: all .3s ease;
}

.popup__mask__alert.is-visible .popup__layer__alert, .popup__mask__alert.is-visible .popup--changepass__layer, .popup--changepass.is-visible .popup__layer__alert, .popup--changepass.is-visible .popup--changepass__layer {
    transform: translateY(0);
}
.popup__mask__alert .popup__wrapper__alert .popup__layer__alert {
    width: 420px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    position: relative;
    transition: all .3s ease;
}
.popup__mask__alert .popup__layer__alert, .popup__mask__alert .popup--changepass__layer, .popup--changepass .popup__layer__alert, .popup--changepass .popup--changepass__layer {
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;
}

.popup__mask__alert .popup__wrapper__alert .popup__layer__alert .alert__message__wrapper {
    text-align: center;
}

.popup__mask__alert .popup__wrapper__alert .popup__layer__alert .alert__message__wrapper .alert__message {
    padding: 27px 0px 0px 0px;
}

.popup__mask__alert .popup__wrapper__alert .popup__layer__alert .alert__message__wrapper .alert__message h3 {
    margin: 5px 0px;
    color: #627F8F;
}

.popup__mask__alert .popup__wrapper__alert .popup__layer__alert .alert__message__wrapper .alert__message label {
    color: #9B9B9B;
    font-size: 13px;
    position: relative;
    line-height: 21px;
}

.popup__mask__alert .popup__wrapper__alert .popup__layer__alert .alert__message__wrapper .alert__message__btn {
    padding: 25px 0px;
}

.popup__mask__alert .popup__wrapper__alert .popup__layer__alert .alert__message__wrapper .alert__message__btn .new__form__btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}
.new__form__btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 13px;
    margin-top: 15px;
}

.btn__form__create {
    color: #ffffff;
    background: #9FBFCB;
    margin-left: 10px;
}
.btn__form__reset, .btn__form__create {
    background: #F3F4F6;
    border: 1px solid #e6e7ea;
    padding: 0 20px;
    height: 25px;
    color: #9B9B9B;
    font-family: "brandon_medium";
    text-transform: uppercase;
    letter-spacing: 0.3px;
    transition: all .3s;
    font-size: 11px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.popup__mask__alert .popup__wrapper__alert .popup__layer__alert .alert__message__wrapper .alert__message__close {
    background: #F3F4F6;
    border-radius: 100%;
    padding: 5px 10px;
    position: absolute;
    top: -12px;
    right: -12px;
    border: 1px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.popup__mask__alert .popup__wrapper__alert .popup__layer__alert .alert__message__wrapper .alert__message__close:after {
    content: "x";
}

.popupContainer {
    transform: initial;
    backface-visibility: visible;
}